@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap");
header, footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 1.5vw, 1.125rem);
  color: #E7F0F4;
}

.output {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 2.625rem);
  color: #E7F0F4;
}
.output__result {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2.625rem);
  color: #E7F0F4;
}
.output em {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 1.5vw, 1.125rem);
  color: #E7F0F4;
}

svg {
  height: 100%;
  width: 100%;
  fill: #E7F0F4;
}

.output svg {
  height: clamp(100px, 10vw, 150px);
  width: clamp(100px, 10vw, 150px);
}
.output__score svg {
  height: clamp(25px, 5vw, 100px);
  width: clamp(25px, 5vw, 100px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  border-bottom: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
  padding: clamp(8px, 1.5vw, 16px) clamp(16px, 3vw, 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  max-width: clamp(min(100%, 425px), 80%, 60rem);
  background-color: rgba(51, 51, 51, 0.3);
  border: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
  padding: clamp(16px, 3vw, 32px);
  margin: clamp(8px, 1.5vw, 16px);
}

footer {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  border-top: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
  padding: clamp(8px, 1.5vw, 16px) clamp(16px, 3vw, 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  display: flex;
  gap: clamp(8px, 1.5vw, 16px);
}
footer a {
  display: inline-block;
  height: clamp(16px, 3vw, 32px);
  width: clamp(16px, 3vw, 32px);
}

.output {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 1.5vw, 16px);
  padding-bottom: clamp(8px, 1.5vw, 16px);
  border-bottom: 2px solid rgba(51, 51, 51, 0.3);
}
.output__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.output__score {
  display: flex;
  align-items: center;
  gap: clamp(8px, 1.5vw, 16px);
}

.game {
  padding-top: clamp(8px, 1.5vw, 16px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(8px, 1.5vw, 16px);
}

.rspls {
  background: linear-gradient(0deg, #9d50bb, #964fb9, #904eb7, #894db4, #824cb2, #7b4aaf, #7549ad, #6e48aa);
}
.rspls .output:nth-of-type(2) {
  height: clamp(100px, 10vw, 150px);
}
.rspls .output__result {
  height: 1.5em;
}
.rspls .output__vs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(8px, 1.5vw, 16px);
}
.rspls .output__vs em {
  height: 2.5em;
  text-align: center;
}
.rspls .game__button {
  background-color: transparent;
  height: clamp(100px, 10vw, 150px);
  width: clamp(100px, 10vw, 150px);
  border: 2px solid #E7F0F4;
  border-radius: 50%;
  padding: clamp(8px, 1.5vw, 16px);
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
}
.rspls .game__button:hover, .rspls .game__button:active {
  background-color: #E7F0F4;
}
.rspls .game__button:hover svg, .rspls .game__button:active svg {
  fill: black;
}

.tictactoe {
  background: linear-gradient(0deg, #93f9b9, #83ebae, #74dca2, #64ce97, #54c08c, #44b281, #32a577, #1d976c);
}
.tictactoe .output__result {
  height: 1.5em;
}
.tictactoe .game {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.tictactoe .game__cell {
  height: clamp(100px, 10vw, 150px);
  width: clamp(100px, 10vw, 150px);
  border: 3px solid #E7F0F4;
  padding: clamp(8px, 1.5vw, 16px);
}
.tictactoe .game__cell:nth-of-type(-n + 3) {
  border-top: 3px solid transparent;
}
.tictactoe .game__cell:nth-of-type(n + 7) {
  border-bottom: 3px solid transparent;
}
.tictactoe .game__cell:nth-of-type(3n) {
  border-right: 3px solid transparent;
}
.tictactoe .game__cell:nth-of-type(3n - 2) {
  border-left: 3px solid transparent;
}
.tictactoe .game svg {
  height: 100%;
  width: 100%;
  stroke: #E7F0F4;
  stroke-width: 10px;
  fill: none;
  transition: 0.3s ease-in-out;
  transform: scale(0);
}
.tictactoe .game .x, .tictactoe .game .o {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */