@keyframes scaleUp {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes shake {
    @for $i from 0 through 10 {
        $frame: $i * 10 + '%';
        #{$frame} {
            transform: translate(#{random(2)+'%'}, #{-1 * random(2)+'%'});
        }
    }
}