@mixin font($fy, $wt, $sz, $cr) {
    font: {
        family: map-get($ft-fy, $fy);
        weight: map-get($ft-wt, $wt);
        size: map-get($ft-sz, $sz);
    }
    color: map-get($clr, $cr);
}

@mixin flex($direction: row, $justify: normal, $align: normal, $wrap: nowrap, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin fakeTransparency($bg, $darken: true) {
    background-image: map-get($bkg, $bg);
    background-clip: border-box;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: 0;
    
    @if $darken {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            background-color: map-get($clr, 'black-3');
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}