$clr: (
    'white': #E7F0F4,
    white-3: rgba(231, 240, 244, 0.3),
    black-3: rgba(51, 51, 51, 0.3)
);

$bkg: (
    index: linear-gradient(#cfdef3, #d1e0f4, #d4e1f6, #d6e3f7, #d9e5f8, #dbe7f9, #dee8fb, #e0eafc),
    rspls: linear-gradient(#9d50bb, #964fb9, #904eb7, #894db4, #824cb2, #7b4aaf, #7549ad, #6e48aa),
    tictactoe: linear-gradient(#93f9b9, #83ebae, #74dca2, #64ce97, #54c08c, #44b281, #32a577, #1d976c),
    pairs: linear-gradient(#ff9e87, #ff998b, #ff948f, #ff8f94, #fd8a99, #fa869f, #f783a5, #f280ab),
    battleship: linear-gradient(#91eae4, #74dee7, #5ad2eb, #47c4ee, #44b5ef, #52a4eb, #6892e3, #7f7fd5),
);

$ft-fy: (
    head:('Poppins', sans-serif),
    body: ('Montserrat', sans-serif),
);

$ft-wt: (
    bold: 700,
    regular: 400,
);

$ft-sz: (
    lg: clamp(1.5rem, 3vw, 2rem),
    md: clamp(1.2rem, 2vw, 1.5rem),
    sm: clamp(calc(14rem / 16), 1.5vw, calc(18rem / 16)),
);

$siz: (
    lg: clamp(75px, 26vw, 100px), 
    md: clamp(24px, 5vw, 40px),
    sm: clamp(16px, 3vw, 32px),
    xs: clamp(16px, 2vw, 28px),
);

$spc: (
    md: clamp(16px, 3vw, 32px),
    sm: clamp(8px, 1.5vw, 16px),
);

$brd: (
    blk: 2px solid map-get($clr, 'black-3'),
    wht: 2px solid map-get($clr, 'white')
);

$shadow: 0 0 16px map-get($clr, 'black-3');