$clr: (
    'white': #e2f0f6,
    white-5: rgba(231, 240, 244, 0.8),
    white-3: rgba(231, 240, 244, 0.3),
    black-3: rgba(49, 47, 52, 0.3),
    'black': rgb(49, 47, 52),
);

$bkg: (
    index: linear-gradient(#a3abcd, #a7b0cf, #abb5d2, #b0bad4, #b4bfd6, #b9c3d8, #bfc8da, #c4cddc),
    rspls: linear-gradient(#aa6ebb, #a26cb9, #9b6bb8, #9369b6, #8c68b3, #8466b1, #7d65af, #7563ac),
    tictactoe: linear-gradient(#66e9a3, #60e29d, #5ada97, #53d391, #4dcc8b, #47c485, #41bd7f, #3ab679),
    pairs: linear-gradient(#e5ec83, #e0ea7d, #dae878, #d4e672, #cee46d, #c8e367, #c2e162, #bbdf5d),
    battleship: linear-gradient(#74d4ea, #6cccea, #67c3e9, #65bae7, #66b1e4, #6aa8e1, #6f9edc, #7694d5),
    minesweeper: linear-gradient(#ffa7a7, #fd9da1, #fb939c, #f98997, #f67e93, #f3738f, #f0688c, #ec5d8a),
    blackjack: linear-gradient(#f6aa7a, #f7a575, #f7a070, #f89b6b, #f99567, #fa9063, #fa8a5f, #fb845c),
);

$ft-fy: (
    head:('Poppins', sans-serif),
    body: ('Montserrat', sans-serif),
);

$ft-wt: (
    bold: 700,
    regular: 400,
);

$ft-sz: (
    xl: clamp(2rem, 5vw, 4rem),
    lg: clamp(1.5rem, 3vw, 2rem),
    md: clamp(1.2rem, 2vw, 1.5rem),
    sm: clamp(0.8rem, 1.5vw, 1rem),
    xs: 0.85rem,
);

$siz: (
    lg: clamp(75px, 24vw, 100px), 
    md: clamp(38px, 5vw, 50px),
    sm: clamp(22px, 3vw, 24px),
    xs: clamp(16px, 2vw, 28px),
);

$spc: (
    md: clamp(16px, 3vw, 32px),
    sm: clamp(8px, 1.5vw, 16px),
);

$brd: (
    blk: 2px solid map-get($clr, 'black-3'),
    wht: 2px solid map-get($clr, 'white')
);

$shadow: 0 0 16px map-get($clr, 'black-3');