$clr: (
    'white': #E7F0F4,
    black-3: rgba(51, 51, 51, 0.3)
);

$bkg: (
    rspls: linear-gradient(0deg, #9d50bb, #964fb9, #904eb7, #894db4, #824cb2, #7b4aaf, #7549ad, #6e48aa),
    tictactoe: linear-gradient(0deg, #93f9b9, #83ebae, #74dca2, #64ce97, #54c08c, #44b281, #32a577, #1d976c),
);

$ft-fy: (
    head:('Poppins', sans-serif),
    body: ('Montserrat', sans-serif),
);

$ft-wt: (
    bold: 700,
    regular: 400,
);

$ft-sz: (
    md: clamp(calc(24rem / 16), 3vw, calc(42rem / 16)),
    sm: clamp(calc(14rem / 16), 1.5vw, calc(18rem / 16)),
);

$siz: (
    lg: clamp(100px, 10vw, 150px), 
    md: clamp(25px, 5vw, 100px),
    sm: clamp(16px, 3vw, 32px),
);

$spc: (
    md: clamp(16px, 3vw, 32px),
    sm: clamp(8px, 1.5vw, 16px),
);

$border: 2px solid map-get($clr, 'black-3');

$shadow: 0 0 16px map-get($clr, 'black-3');