button {
    background-color: transparent;
    border: map-get($brd, 'wht');
    border-radius: 10rem;
    padding: 0.5em 1em;
    mix-blend-mode: screen;
    transition: 0.2s ease-in-out;

    &:hover, &:active {
        background-color: map-get($clr, 'white');
        color: #000;
    }

    &:hover svg, &:active svg {
        fill: #000;
    }
}

.switch {
    display: flex;
    align-items: center;
    gap: calc(map-get($spc, 'sm') / 2);

    &__track {
        position: relative;
        display: flex;
        width: calc(map-get($siz, 'xs') * 2);
        height: map-get($siz, 'xs');
        border: map-get($brd, 'wht');
        border-radius: 10rem;
        padding: 2px;
    }

    &__check {
        position: absolute;
        opacity: 0;

        &:checked + .switch__slider {
            margin-left: map-get($siz, 'xs');
        }
    }

    &__slider {
        width: calc(map-get($siz, 'xs') - 8px);
        height: calc(map-get($siz, 'xs') - 8px);
        background-color: map-get($clr, 'white');
        border-radius: 50%;
        transition: margin 0.2s ease-in-out;
    }
}

[disabled] {
    opacity: 0.5;
    pointer-events: none;
}