.output {
    @include flex(column, null, null, null, map-get($spc, 'sm'));
    padding-bottom: map-get($spc, 'sm');
    border-bottom: map-get($brd, 'blk');
    margin-bottom: map-get($spc, 'sm');

    &__container {
        width: 100%;
        @include flex(null, space-between, center, null, map-get($spc, 'sm'));
    }

    &__score {
        @include flex(null, null, center, null, map-get($spc, 'sm'));
    }
    
    &__message {
        min-height: 1.5em;
        min-width: 3em;
        text-align: center;
    }
}

.game {
    @include flex(null, space-evenly, center, wrap, map-get($spc, 'sm'));

    &--disabled {
        pointer-events: none;
    }
}

.options {
    padding-top: map-get($spc, 'sm');
    border-top: map-get($brd, 'blk');
    margin-top: map-get($spc, 'sm');
    @include flex(null, space-evenly, center, null, map-get($spc, 'sm'));

    &__container {
        @include flex(null, center, center, wrap, map-get($spc, 'sm'));
    }
}