.output {
    display: flex;
    flex-direction: column;
    gap: map-get($spc, 'sm');
    padding-bottom: map-get($spc, 'sm');
    border-bottom: $border;
    margin-bottom: map-get($spc, 'sm');

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__score {
        display: flex;
        align-items: center;
        gap: map-get($spc, 'sm');
    }
    
    &__result {
        height: 1.5em;
    }
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: map-get($spc, 'sm');
}

.options {
    width: 100%;
    padding-top: map-get($spc, 'sm');
    border-top: $border;
    margin-top: map-get($spc, 'sm');
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: map-get($spc, 'sm');

    &__container {
        display: flex;
        align-items: center;
        gap: calc(map-get($spc, 'sm') / 2);
    }
}