.modal {
    @extend section;
    margin: auto;
    scale: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;

    form {
        @include flex(column, space-between, null, null, map-get($spc, 'sm'));
    }
    
    [type="text"] {
        height: map-get($siz, 'md');
        background-color: map-get($clr, 'black-3');
        border: none;
        border-radius: 8px;
        padding: 0.5em;
        
        &:focus {
            outline: none;
            border-bottom: map-get($brd, 'wht');
        }
    }

    &__radio {
        @include flex(row, space-between, null, wrap, map-get($spc, 'sm'));
    }
    
    .radio {
        flex-shrink: 0;
        display: inline-flex;
        align-content: center;
        height: map-get($siz, 'lg');
        width: map-get($siz, 'lg');
        
        [type="radio"] {
            width: 0;
            height: 0;
            opacity: 0;

            &:checked + svg {
                opacity: 1;
            }
        }

        svg {
            opacity: 0.6;
            filter: drop-shadow($shadow);
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__buttons {
        @include flex(row, flex-end, center, null, map-get($spc, 'sm'));
    }

    &::backdrop {
        background-color: map-get($clr, 'black-3');
        backdrop-filter: blur(10px);
    }
}
