body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-content: space-between;
    gap: map-get($spc, 'sm');
}

.header {
    width: 100%;
    height: fit-content;
    background-color: map-get($clr, 'black-3');
    border-bottom: map-get($brd, 'blk');
    border-radius: 0 0 16px 16px;
    box-shadow: $shadow;
    padding: map-get($spc, 'sm') map-get($spc, 'md');
    @include flex(null, space-between, stretch, null, map-get($spc, 'sm'));
    
    &__bar {
        @include flex(null, space-between, center, null, null);
    }

    &__mobile {
        display: none;
    }

    &__nav {
        flex-grow: 0.5;
        align-self: center;
    }
    
    &__list {
        @include flex(null, space-between, center, null, map-get($spc, 'sm'))
    }
}

main {
    align-self: stretch;
    height: 100%;
    width: 100%;
    @include flex(null, space-evenly, center, null, null);
}

section {
    max-width: calc(100vw - map-get($spc, 'sm') * 2);
    background-color: map-get($clr, 'black-3');
    border: map-get($brd, 'blk');
    border-radius: 16px;
    box-shadow: $shadow;
    padding: map-get($spc, 'md');
    margin: map-get($spc, 'sm');
    transition: opacity 0.25s ease-in-out;
}

footer {
    width: 100%;
    height: fit-content;
    background-color: map-get($clr, 'black-3');
    border-top: map-get($brd, 'blk');
    border-radius: 16px 16px 0 0;
    box-shadow: $shadow;
    padding: map-get($spc, 'sm') map-get($spc, 'md');
    @include flex(null, space-between, center, null, null);

    .social {
        @include flex(null, null, center, null, map-get($spc, 'sm'))
    }

    a {
        display: block;
    }
}

@media (orientation: portrait) {
    .header {
        @include flex(column-reverse, space-between, stretch, null, 0);
        padding-top: 0;

        &__bar {
            padding-top: map-get($spc, 'sm');
        }

        &__mobile {
            display: flex;
            gap: map-get($spc, 'sm');
        }

        &__nav {
            overflow: hidden;
            align-self: stretch;
            max-height: 0;
            transition: max-height 0.2s ease-in-out;

            &--show {
                max-height: 14em;
            }

            & + svg {
                display: none;
            }
        }

        &__list {
            @include flex(column, flex-start, stretch, null, map-get($spc, 'md'));
            padding: map-get($spc, 'md') 0;
            border-bottom: map-get($brd, 'blk');
            margin-bottom: map-get($spc, 'md');
        }

        svg {
            max-height: 38px;
        }
    }
}