body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-content: space-between;
}

header {
    width: 100%;
    height: fit-content;
    background-color: map-get($clr, 'black-3');
    border-bottom: map-get($brd, 'blk');
    border-radius: 0 0 16px 16px;
    box-shadow: $shadow;
    padding: map-get($spc, 'sm') map-get($spc, 'md');
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    align-self: stretch;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

section {
    max-width: clamp(min(100%, 425px), 80%, 60rem);
    max-height: 100%;
    background-color: map-get($clr, 'black-3');
    border: map-get($brd, 'blk');
    border-radius: 16px;
    box-shadow: $shadow;
    padding: map-get($spc, 'md');
    margin: map-get($spc, 'sm');
}

footer {
    width: 100%;
    height: fit-content;
    background-color: map-get($clr, 'black-3');
    border-top: map-get($brd, 'blk');
    border-radius: 16px 16px 0 0;
    box-shadow: $shadow;
    padding: map-get($spc, 'sm') map-get($spc, 'md');
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        gap: map-get($spc, 'sm');
    }

    a {
        display: inline-block;
    }
}