svg {
    height: 100%;
    width: 100%;
    fill: map-get($clr, 'white');
}

.output {
    svg {
        height: map-get($siz, 'lg');
        width: map-get($siz, 'lg');
    }

    &__score {
        svg {
            height: map-get($siz, 'md');
            width: map-get($siz, 'md');
        }
    }
}