svg {
    height: 100%;
    width: 100%;
    fill: map-get($clr, 'white');
}

.svg {
    &--lg {
        height: map-get($siz, 'lg');
        width:  map-get($siz, 'lg');
    }

    &--md {
            height: map-get($siz, 'md');
            width: map-get($siz, 'md');
    }

    &--sm {
            height: map-get($siz, 'sm');
            width: map-get($siz, 'sm');
    }

    &--xs {
            height: map-get($siz, 'xs');
            width: map-get($siz, 'xs');
    }

    &--bkg {
        position: fixed;
        fill: map-get($clr, 'black-3');
        height: auto;
        opacity: 0.4;
        z-index: -1;

        &:first-of-type {
            top: 0;
        }

        &:last-of-type {
            bottom: 0;
        }
    }
}

.output {
    &__score {
        svg {
            height: map-get($siz, 'md');
            width: map-get($siz, 'md');
        }
    }
}