@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

body, dialog {
    @include font('body', 'regular', 'sm', 'white');
}

button {
    @include font('head', 'regular', 'sm', 'white');
}

h2 {
    @include font('head', 'bold', 'lg', 'white');
}

p {
    font-size: map-get($ft-sz, 'md');
    padding-bottom: 1em;
}

em {
    font-size: 0.8em;
}

a:link, a:visited {
    color: map-get($clr, 'white');
    text-decoration: none;
}

input {
    @include font('body', 'regular', 'md', 'white');

    &::placeholder {
        color: map-get($clr, 'white');
    }
}

.output {
    @include font('body', 'regular', 'lg', 'white');

    &__message {
        @include font('head', 'bold', 'lg', 'white');
        
        &--sm {
            font-size: map-get($ft-sz, 'sm')
        }
    }
}

