@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

header, footer {
    @include font('body', 'regular', 'sm', 'white');
}

button {
    @include font('head', 'regular', 'sm', 'white');
}

h2 {
    @include font('head', 'bold', 'md', 'white');
    text-shadow: $shadow;
}

a:link, a:visited {
    color: map-get($clr, 'white');
    text-decoration: none;
}

.output {
    @include font('body', 'regular', 'md', 'white');

    &__message {
        @include font('head', 'bold', 'md', 'white');
    }

    em {
        @include font('body', 'regular', 'sm', 'white');
    }
}

.options {
    @include font('body', 'regular', 'sm', 'white')
}