.battleship {

    .output {
        flex-direction: row;
        justify-content: space-between;
    }

    .game {
        align-items: stretch;
        flex-wrap: nowrap;
        gap: map-get($spc, 'md');
        width: 100%;

        &__ships {
            @include flex(column, space-between, null, wrap, map-get($spc, 'xs'));
        }

        &__ship {
            height: map-get($siz, 'md');
            
            use {
                cursor: pointer;
            }

            &--selected {
                fill: map-get($clr, 'white-3');
                stroke: map-get($clr, 'white');
                stroke-width: 3px;
                pointer-events: none;
            }
        }
        
        &__buttons {
            @include flex(column, null, null, null, map-get($spc, 'sm'));
        }

        &__board {
            height: auto;
            aspect-ratio: 1 / 1;
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            border: 1px solid map-get($clr, 'white');

            &--disabled {
                pointer-events: none;
            }
        }

        &__cell {
            width: 100%;
            height: 100%;
            min-width: clamp(16px, 4vmin, 40px);
            min-height: clamp(16px, 4vmin, 40px);
            position: relative;
            border: 1px solid map-get($clr, 'white');
            overflow: hidden;
            z-index: 2;
            transition: background-color 0.15s ease-in-out;
            
            &:hover {
                background-color: map-get($clr, 'white-3');
            }
        }

        &__svg {
            position: absolute;
            inset: 0;
            z-index: 1;
            pointer-events: none;
            
            &--invalid svg {
                fill: map-get($clr, 'white-3');
                stroke: map-get($clr, 'white');
                stroke-width: 3px;
            }
            
            &--shake svg{
                animation: shake 0.5s ease-out;
            }
        }

        &__effect {
            @extend .game__svg
        }
    }

    .options {
        flex-wrap: wrap;
    }
}

[data-hidden] {
    display: none !important;
}

[data-hit] {
    svg {
        @extend .game__ship--selected;
    }
    pointer-events: none;
}

@media (orientation: portrait) {
    .battleship {
        section {
            width: 90%;
        };

        .game {
            flex-direction: column;
            align-items: center;

            &__board {
                width: 90%;
            }

            &__ships {
                @include flex(row, space-evenly, null, wrap, map-get($spc, 'sm'));
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}