.battleship {
    section {
        display: flex;
    }

    .game {
        &__ships {
            padding-right: map-get($spc, 'sm');
            display: flex;
            flex-direction: column;

            svg {
                height: map-get($siz, 'sm');
                max-width: calc(map-get($siz, 'sm') * 5);
                width: auto;
                fill: none;
                stroke: aliceblue;
                stroke-width: 4px;
            }
        }

        &__board {
            position: relative;
            display: grid;
            grid-template-columns: repeat(10, map-get($siz, 'md'));
            grid-template-rows: repeat(10, map-get($siz, 'md'));
            border: 1px solid map-get($clr, 'white');
        }

        &__cell {
            border: 1px solid map-get($clr, 'white');
            overflow: hidden;
            transition: 0.15s ease-in-out;
            
            &:hover {
                background-color: map-get($clr, 'white-3');
            }
        }

        &__battleship {
            height: map-get($siz, 'md');
            width: calc(map-get($siz, 'md') * 4);
        }
    }
}