.blackjack {
    .game {
        justify-content: space-between;
        min-width: 50vw;
        min-height: 30vh;

        &__container {
            flex: auto;
            flex-basis: 35%;
            min-height: 5rem;
            @include flex(column, center, center);
        }

        &__card {
            @include fakeTransparency('blackjack', false);
            position: relative;
            display: inline-flex;
            border: map-get($brd, 'wht');
            border-radius: 0.5rem;
            transition: 0.2s ease-in-out;
            margin: 0 -1.2em;
            transform-style: preserve-3d;
            transition: 0.3s ease-in;
            animation: deal 0.5s ease-in-out;
            
            @for $i from 1 through 10  {
                &:nth-of-type(#{$i}) {
                    translate: 0 calc(1.2em * #{$i - 1});
                    margin-bottom: calc(1.2em * #{$i - 1});
                }
            }
            
            &--double {
                transform-origin: 50% 60%;
                transform: rotate(90deg);
                animation: dealSideways 0.5s ease-in-out;
            }

            &--flip {
                transform: rotateY(180deg);
                animation: dealDown 0.5s ease-in-out;
            }
        }

        &__front, &__back {
            border-radius: 0.3rem;
            padding: calc(map-get($spc, 'sm') / 1.5);
            backface-visibility: hidden;
            background-color: map-get($clr, 'black-3');
        }

        &__front {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            gap: calc(map-get($spc, 'sm') / 1.5);

            div {
                @include flex(row, flex-start, center);
                }
    
                svg {
                    padding: 0.3em;
                    margin: -0.2em;
                }
        }

        &__back {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateY(180deg);
            transition: 0.2s;
        }

        &__bet {
            flex-basis: 20%;
            height: 8rem;
            border: 4px solid map-get($clr, 'white-3');
            border-radius: 1rem;
            position: relative;
            
        }

        &__chip {
            @include fakeTransparency('blackjack');
            outline: map-get($brd, 'wht');
            position: absolute;
            bottom: 10%;
            left: 50%;
            border-radius: 50%;
            translate: -50% 0%;
            transition: 0.2s ease-in-out;
            animation: fromBelow 0.2s ease-in-out;

            @for $i from 0 through 10  {
                &:nth-of-type(10n + #{$i}) {
                    margin-bottom: calc(0.5em * #{$i - 1});
                }
            }
        }
    }

    .options {
        flex-direction: column;

        [data-disabled] {
            button:not([disabled]) {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        [data-hidden] {
            display: none;
        }
    }
}

.chip {
    @extend %button;
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
    border: dashed 4px map-get($clr, 'white');
    outline: map-get($brd, 'wht');
    padding: 0;
    text-align: center;

    &:hover {
        border-color: #000;
    }

    &--pointer-none {
        pointer-events: none;
    }
}

@media (orientation: portrait) {
    .blackjack {
        main section {
            width: 90%;
        };
        
        .game {
            flex-direction: column-reverse;
            align-items: center;

            &__bet {
                flex-basis: unset;
                width: 50%;
                height: 4rem;
            }

            &__chip {
                top: 50%;
                left: 10%;
                bottom: unset;
                translate: 0% -50%;

                @for $i from 1 through 10  {
                    &:nth-of-type(10n + #{$i}) {
                        margin-left: calc(0.5em * #{$i - 1});
                    }
                }
            }

            &__card {
                margin: 0 -1em !important;
                translate: 0 0 !important;
            }
        }
    }
}