.rspls {
    background: linear-gradient(0deg, #9d50bb, #964fb9, #904eb7, #894db4, #824cb2, #7b4aaf, #7549ad, #6e48aa);

    .output {
        display: flex;
        flex-direction: column;
        gap: map-get($spc, 'sm');
        padding-bottom: map-get($spc, 'sm');
        border-bottom: 2px solid map-get($clr, 'black-3');
    
        &__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:nth-of-type(2) {
                height: map-get($siz, 'lg');
            }
        }

        &__score {
            display: flex;
            align-items: center;
            gap: map-get($spc, 'sm');
        }

        &__result {
            height: 1.5em;
        }

        &__vs {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: map-get($spc, 'sm');
            
            em {
                height: 2.5em;
                text-align: center;
            }
        }
    }

    .game {
        padding-top: map-get($spc, 'sm');
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: map-get($spc, 'sm');

        &__button {
            background-color: transparent;
            height: map-get($siz, 'lg');
            width: map-get($siz, 'lg');
            border: 2px solid map-get($clr, 'white');
            border-radius: 50%;
            padding: map-get($spc, 'sm');
            mix-blend-mode: screen;
            transition: 0.2s ease-in-out;

            &:hover, &:active {
                background-color: map-get($clr, 'white');
            }

            &:hover svg, &:active svg {
                fill: black;
            }
        }
    }
}