.rspls {
    background: map-get($bkg, 'rspls');

    .output {
            &:nth-of-type(2) {
                height: map-get($siz, 'lg');
            }

        &__vs {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: map-get($spc, 'sm');
            
            em {
                height: 2.5em;
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    .game {
        &__button {
            height: map-get($siz, 'lg');
            width: map-get($siz, 'lg');
            border-radius: 50%;
            padding: map-get($spc, 'sm');
        }
    }
}