.rspls {
    .output {
            &:nth-of-type(2) {
                height: map-get($siz, 'lg');
            }

        &__vs {
            height: 100%;
            @include flex(column, flex-end, center, null, map-get($spc, 'sm'));
            
            em {
                height: 2.5em;
                text-align: center;
            }
        }
    }

    .game {
        &__button {
            height: map-get($siz, 'lg');
            width: map-get($siz, 'lg');
            border-radius: 50%;
            padding: map-get($spc, 'sm');

            &:focus {
                background-color: map-get($clr, 'white');
                color: #000;
            }
        
            &:focus svg {
                fill: #000;
            }
        }
    }
}