.tictactoe {
    .game {
        width: fit-content;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 0;

        &__cell {
            height:  map-get($siz, 'lg');
            width:  map-get($siz, 'lg');
            border: map-get($brd, 'wht');
            padding: map-get($spc, 'sm');
            cursor: pointer;

            &:nth-of-type(-n + 3) {
                border-top: 3px solid transparent;
            }

            &:nth-of-type(n + 7) {
                border-bottom: 3px solid transparent;
            }

            &:nth-of-type(3n) {
                border-right: 3px solid transparent;
            }

            &:nth-of-type(3n - 2) {
                border-left: 3px solid transparent;
            }

            &:hover svg {
                transform: scale(0.5);
                opacity: 0.5;
            }

            &--disabled {
                pointer-events: none;
            }

            &--animated .mark {
                    animation: line 1s ease-in-out infinite;
            }
        }

        svg {
            transition: 0.3s ease-in-out;
            transform: scale(0);
        }

        .mark {
            transform: scale(1);
            opacity: 1;
        }
    }
}

@media (max-width: 768px){
    .tictactoe {
        .game__cell:hover svg {
            transform: scale(1);
            opacity: 1;
        }
    }
}

@keyframes line {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}